<app-nav />

<div class="container mt-3">
  <h3>Computation</h3>
  <!-- <button class="btn btn-info" routerLink="/computation">navigate to something</button> -->

  <form class="inline-form mt-3" [formGroup]="landForm" (ngSubmit)="handleSubmit()">

    <div class="row align-items-end">

      <!-- land kind  -->
      <div class="col mb-3">
        <div class="form-group">
          <label for="landType" class="form-label">Kind</label>
          <select id="landType" class="form-select" formControlName="landType" (change)="handleLandTypeChange($event)">
            <option value="">Select kind</option>
            @for (landType of landData; track landType.id) {
              <option value="{{landType.id}}" >{{landType.landType}}</option>
            }
          </select>
        </div>
      </div>

      <!-- lands  -->
      <div class="col mb-3">
        <div class="form-group">
          <label for="land" class="form-label">
            {{selectedLandType ? selectedLandType.landType : 'Land'}}
          </label>
          <select id="land" class="form-select" formControlName="land" (change)="handleLandChange($event)">
            <option value="">Select land</option>
            @if (selectedLandType) {
              @for (land of selectedLandType.data; track $index) {
                <option value="{{land.id}}">{{land.landName}}</option>
              }
            }
          </select>
        </div>
      </div>

      <!-- class options  -->
      <div class="col mb-3">
        <div class="form-group">
          <label for="classType" class="form-label">Class</label>
          <select id="classType" class="form-select" formControlName="classType" (change)="handleClassChange($event)">
            <option value="">Select class</option>
            @if (selectedLand) {
              @for (_class of selectedLand.classes; track $index) {
                <option value="{{_class.id}}"> {{ _class.className }} </option>
              }
            }
          </select>
        </div>
      </div>

      <!-- class options  -->
      <div class="col mb-3">
        <div class="form-group">
          <label for="area" class="form-label">Area</label>
          <input class="form-control" type="number" id="area" formControlName="area">
        </div>
      </div>

      <!-- assessment level  -->
      <div class="col mb-3">
        <div class="form-group">
          <label for="fairMarketValue" class="form-label">Assessment level</label>
          <select id="fairMarketValue" class="form-select" formControlName="fairMarketValue">
            <option value="" selected>Select class</option>
            @for (lvl of assessmentLvl; track $index) {
              <option [value]="lvl.id"> {{lvl.name}} </option>
            }
          </select>
        </div>
      </div>

      <div class="col mb-3">
        <div class="d-flex" style="gap: .25rem;">
          <button type="submit" class="btn btn-success " [disabled]="!landForm.valid"><span class="d-flex" style="gap: .15rem;">Compute <i class="bi bi-calculator-fill"></i></span></button>
          <button type="reset" class="btn btn-secondary" (click)="resetData()"><span class="d-flex" style="gap: .15rem;">Reset <i class="bi bi-arrow-clockwise"></i></span></button>
        </div>
      </div>
    
    </div>
    <!-- end row  -->

    @if (computedLand) {

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Land</th>
            <th>Class</th>
            <th>Area</th>
            <th>Kind</th>
            <th>Market Value</th>
            <th>Assessed Value</th>
            <th>Previous MV</th>
            <th>Previous AV</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            @for (land of computedLand; track $index) {
              <tr>
                <td> {{land.land}} </td>
                <td> {{land.classType}} </td>
                <td> {{land.area}} </td>
                <td> {{land.fairMarketValue}} </td>
                <td> {{land.marketValue2011.toFixed(2)}} </td>
                <td> {{land.assessedValue2011.toFixed(2)}} </td>
                <td> {{land.marketValue2003.toFixed(2)}} </td>
                <td> {{land.assessedValue2003.toFixed(2)}} </td>
                <td><button type="button" class="btn btn-danger btn-sm" (click)="deleteLandRow(land.id)"><i class="bi bi-trash3"></i></button></td>
              </tr>
            }
            @empty {
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>no data to compute</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            }
            @if (computedLand.length > 0) {
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="fw-bold ">
                <td class="text-success">TOTAL</td>
                <td class="text-success"></td>
                <td class="text-success"></td>
                <td class="text-success"></td>
                <td class="text-success"> {{totalMarketValue.toFixed(2)}} </td>
                <td class="text-success"> {{totalAssessedValue.toFixed(2)}} </td>
                <td class="text-success">{{totalPrevMarketValue.toFixed(2)}}</td>
                <td class="text-success">{{totalPrevAssessedValue.toFixed(2)}}</td>
                <td class="text-success"></td>
              </tr>
            }
          </tbody>
      </table>

    }

  </form>
  <!-- end form  -->

</div>


